/** BASIC */

body {
	margin: 0px;
	padding: 0px;
	background: url(images/bg01.jpg) repeat left top;
}

/** FORMS */

form {
	margin: 0px;
	padding: 0px;
}

/** HEADINGS */

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

h1 {
}

h2 {
	margin-bottom: 25px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #51503D;
}

h2 span {
	padding-right: 24px;
	background: url(images/homepage13.gif) no-repeat right center;
}

/** TEXTS */

body, th, td, input, textarea, select {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #7B7A6A;
}

p, ul, ol, dl {
	margin-top: 0px;
	margin-bottom: 20px;
	text-align: justify;
}

ul {
	margin-left: 20px;
	padding-left: 0px;
	list-style-type: circle;
}

ul li {
	margin-bottom: 8px;
}

ul.list1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.list1 li {
	float: left;
	padding-left: 15px;
}

ul.list1 li.first {
	padding: 0px;
}

/** LINKS */

a {
	color: #628543;
}

a:hover {
	text-decoration: none;
}

.more {
	display: block;
	padding-right: 14px;
	background: url(images/homepage16.gif) no-repeat right center;
	text-align: right;
}

/** STYLES */

.style1 {
}

.style1 a {
}

.style1 a:hover {
}

/** BACKGROUNDS */

.bg1 {
}

/** MISC */

.align-justify { text-align: justify; }
.align-right { text-align: right; }

img { border: none; }

img.left {
	float: left;
	margin: 0px 15px 0px 0px;
}

img.right {
	float: right;
	margin: 0px 0px 0px 15px;
}

hr { display: none; }

.hr1 {
	height: 37px;
	margin-bottom: 15px;
	padding-left: 23px;
	background: url(images/homepage17.gif) no-repeat left top;
}

.hr1 b {
	display: block;
	height: 37px;
	padding-right: 23px;
	background: url(images/homepage19.gif) no-repeat right top;
}

.hr1 b b {
	background: url(images/homepage18.gif) repeat-x left top;
}

/** WRAPPER */

#wrapper {
	background: url(images/bg02.jpg) repeat-x left top;
}

/** MENU */

#menu {
	width: 670px;
	height: 56px;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 34px;
	padding-top: 22px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Georgia, "Times New Roman", Times, serif;
	color: #F0F0DF;
}

#menu a:hover {
	text-decoration: underline;
}

#menu1 {
	width: 124px;
	padding-left: 22px;
	background: url(images/homepage02.jpg) no-repeat left top;
}

#menu2 {
	width: 125px;
	background: url(images/homepage03.jpg) no-repeat left top;
}

#menu3 {
	width: 125px;
	background: url(images/homepage04.jpg) no-repeat left top;
}

#menu4 {
	width: 125px;
	background: url(images/homepage05.jpg) no-repeat left top;
}

#menu5 {
	width: 126px;
	padding-right: 23px;
	background: url(images/homepage06.jpg) no-repeat left top;
}

/** PAGE */

#page {
	width: 670px;
	background: url(images/bg03.jpg) repeat-y left top;
}

#bgtop {
	background: url(images/bg04.jpg) no-repeat left top;
}

#bgbtm {
	background: url(images/bg05.jpg) no-repeat left bottom;
}

.subpage1 #page {
	background-image: url(images/subpage1_01.jpg);
}

.subpage1 #bgtop {
	background-image: url(images/subpage1_02.jpg);
}

.subpage1 #bgbtm {
	background-image: url(images/subpage1_03.jpg);
}

.subpage2 #page {
	background-image: url(images/subpage2_01.jpg);
}

.subpage2 #bgtop {
	background-image: url(images/subpage2_02.jpg);
}

.subpage2 #bgbtm {
	background-image: url(images/subpage2_03.jpg);
}

/** CONTENT */

#content {
	padding: 30px 0px 30px 63px;
}

/** SIDEBAR */

#sidebar {
	padding: 30px 63px 30px 0px;
}

/** SINGLE */

#single {
	padding: 30px 63px 50px 63px;
}

/** FOOTER */

#footer {
	padding: 20px 0px;
	background: url(images/bg06.jpg) no-repeat left top;
}

#footer p {
	margin: 0px;
	text-align: center;
	font-size: 9px;
	color: #4A4D39;
}
